@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
body {
    font-family: 'Montserrat', sans-serif;
}
.marginleftright {
    margin-right: 10%;
    margin-left: 10%;
}
.img-border {
    border: 2px solid #111965;
}

.marginleftright-autotalks {
    margin-right: 17%;
    margin-left: 17%;
}


@media only screen and (max-width: 600px) {
    #header[data-transparent="true"]:not(.sticky-active) .header-inner {
        background-color: white;
    }

    .heading-text.heading-section > h2 {
        padding-top:20px;
        position: relative;
        font-size: 31px;
        line-height: 29px;
        margin-bottom: 56px;
    }
}